@page
@model uDrive.Backend.Pages.Areas.Secretariat.Pages.AddToRole.IndexModel
@{
}
<div class="container">
    <div class="row">
        <form asp-page="./Index" method="get">
            <div class="form-actions no-color">
                <p>
                    Find by name:
                    <input type="text" name="SearchString" value="@Model.CurrentFilter" />
                    <input type="submit" value="Search" class="btn btn-primary" /> |
                    <a asp-page="./Index">Back to full List</a>
                </p>
            </div>
        </form>
    </div>
    <div class="row">
        <div class="col">Firstname</div>
        <div class="col">Lastname</div>
        <div class="col">Phone Number</div>
        <div class="col"></div>
    </div>
    @foreach (var user in Model.Users)
    {
        <form method="post">

            <div class="row">
                <div class="col">@user.Firstname</div>
                <div class="col">@user.Lastname</div>
                <div class="col">@user.PhoneNumber</div>

                <input type="hidden" name="Id" value="@user.Id" />
                <div class="col"><button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Add to Secretary</button></div>
            </div>
        </form>

    }
</div>